<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="#page-top"> <i class="fa fa-play-circle"></i> <span class="light">Start</span> Wondering </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="#about">About</a>
				</li>
				<li class="page-scroll">
					<a href="#download">Download</a>
				</li>
				<li class="page-scroll">
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<section class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="brand-heading">SHRIKANT...</h1>
					<p class="intro-text">
						This is simple quality, responsive one page Bootstrap theme.
					</p>
					<div class="page-scroll">
						<a href="#about" class="btn btn-circle"> <i class="fa fa-angle-double-down animated"></i> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>About Shrikant</h2>			
		</div>
	</div>
</section>

<section id="download" class="content-section text-center">
	<div class="download-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Download</h2>				
			</div>
		</div>
	</div>
</section>

<section id="contact" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Contact Shrikant</h2>
			<p>
				Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!
			</p>
			<p>
				shrikant1712@gmail.com
			</p>
			<ul class="list-inline banner-social-buttons">
				<li>
					<a href="https://www.facebook.com/shrikant.khandare.73" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
				</li>
				<li>
					<a href="https://github.com/shrikant-tudip" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
				</li>
				<li>
					<a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
				</li>
			</ul>
		</div>
	</div>
</section>